#ifndef MEM_CFG_H
#define MEM_CFG_H

#include "Std_Types.h"
#include "Mem_Types.h"

#define MEM_DEV_ERROR_DETECT            ({{ config.MemGeneral.MemDevErrorDetect }})
#define MEM_VERSION_INFO_API            STD_ON
#define MEM_INDEX                       ({{ config.MemGeneral.MemIndex }}u)
#define MEM_INSTANCE_COUNT              ({{ config.MemGeneral.MemMaxInstances }}u)
#define MEM_MAX_INSTANCES               MEM_INSTANCE_COUNT
#define MemConf_MemInstance_MemInstance_0 0u

#define MEM_INVOCATION_DIRECT_STATIC    0u
#define MEM_INVOCATION_INDIRECT_STATIC  1u
#define MEM_INVOCATION_INDIRECT_DYNAMIC 2u
#define MEM_INVOCATION                  MEM_INVOCATION_DIRECT_STATIC

#if (MEM_INVOCATION != MEM_INVOCATION_DIRECT_STATIC)
#error "Only MEM_INVOCATION_DIRECT_STATIC is implemented."
#endif

#define MEM_MAIN_FUNCTION_PERIOD        0.005f
#define MEM_INSTANCE_0_START_ADDRESS    0x08000000UL
#define MEM_INSTANCE_0_SIZE             0x00080000UL
#define MEM_ERASED_VALUE                ({{ config.MemGeneral.MemErasedValue }}u)

extern const uint32 Mem_ErasedValue;
extern const Mem_ConfigType Mem_ConfigData;

#endif /* MEM_CFG_H */
