#include "Mem_Cfg.h"

const uint32 Mem_ErasedValue = MEM_ERASED_VALUE;

static const Mem_SectorBatchConfigType Mem_InternalFlashBatches[] =
{
{% for batch in sector_batches %}
    { {{ batch.MemStartAddress }}UL, {{ batch.MemNumberOfSectors }}u,
      {{ batch.MemEraseSectorSize }}u, {{ batch.MemMinReadSize }}u,
      {{ batch.MemWritePageSize }}u, {{ batch.MemSpecifiedEraseCycles }}u }{{ "," if not loop.last }}
{% endfor %}
};

static const Mem_InstanceConfigType Mem_Instances[MEM_INSTANCE_COUNT] =
{
    {
        MemConf_MemInstance_MemInstance_0,
        (uint16)(sizeof(Mem_InternalFlashBatches) / sizeof(Mem_InternalFlashBatches[0])),
        Mem_InternalFlashBatches
    }
};

const Mem_ConfigType Mem_ConfigData = { Mem_Instances };
